* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-image: radial-gradient(circle at top right, #006118 30%, #ffffff 30%),
                    radial-gradient(circle at bottom left, #006118 10%, #ffffff 10%);
  background-size: 100% 70%;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
    stroke: #31914033;
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: #006118;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  



  