



/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ==== CONTAINER ==== */
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
/* ==== HEADER ==== */


/* ==== NAV ==== */


/* ====  NAV-MENU  ==== */

.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}

.show {
  right: 3% !important;
}
/* ====  WRAPPER ==== */
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  margin-bottom: 10rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  color: var(--text-color);
}
.main-heading span {
  color: var(--span-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.blackmode-text{
  color: #ffffff !important;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;

}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--text-color);
  display: block;
  font-size: 16px;
  color: var(--primary-color);
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #f3f3f3;
  background-color: #000000;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.view_more_btn:hover {
  transform: scale(1.1);
  border: 2px solid;
  background-color: var(--alternative-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .4s;

}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;

}
.documentation_btn:hover {
  transform: scale(1.1);
  border: 2px solid;
  background-color: var(--alternative-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .4s;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;

}
.link-hover:hover{
  color: var(--linkhover-color);
}
.link-hover{
  color: rgb(0, 191, 255);
}

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}   


/* ---------------------------------angebote------------------ */

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px var(--shadow-color);
  padding-bottom: 4%;
  background-color: var(--primary-color);

}


.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.blog-heading span{
  color: var(--span-color);
  font-size: 25px;
  margin-top: 5%;

}

.blog-heading h3{
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 300; 
  text-align: center;  
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width: 550px;
  background-color: var(--primary-color);
  border: none;
  margin: 20px;
  box-shadow: 0 15px 25px var(--shadow-color);
  position: relative; /* karte umdrehen */
}

  /* von hier bis -> und oben position relative */


.read-more{
  margin-top: 20px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

a {
  color: var(--text-color);
}

/* hier karte umdrehen */

.blog-img{
  width: 100%;
  height: 50%;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding:30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--span-color);
  font-size: 0.9rem;
}

.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color);
}


.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a{
  color: var(--text-color);

}

.blog-text a:hover{
  color: var(--linkhover-color);
  transition: all ease 0.3s;
}

@media(max-width:1250px) {
  .blog-box{
  width: 300px;
  }
  .blog-container{
    margin-bottom: -190%;
  }
}

@media(max-width:1100px){
  .blog-box{
      width: 70%;
  }
  .blog-container{
    margin-bottom: -150%;
  }
}

@media(max-width:550px){
  .blog-box{
      margin: 20px 10px;
      width: 100%;
  }
  .blog-container{
    margin-bottom: -190%;
  }

  #blog{
      margin-top: 14%;
      padding: 20px;
  }
}

/* ---------newsletter--------- */

.newletter-box-shadow {
  box-shadow: 0px 0px 10px 5px var(--shadow-color);
}


.text-news-ueberschrift{
  padding: 3%;
  position: relative;
  background-color: var(--primary-color);
  font-weight:  300;
  font-size: 35px;
  line-height: 55px;
  margin-top: 50%;
  text-align: center;
  color: var(--text-color);
  }
  
.container-news{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-bottom: 3%;
    margin-bottom: -40%;
  }
  


.newsletter-box {
  margin-left: 3%;
  width: 50%;
}

.newsletter-text {
  text-align: left;
  margin-right: 3%;
  font-size: 19px;
  color: var(--text-color);
}

.login-box {
  position: relative;
  width: 40%;
  padding: 40px;
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px var(--shadow-color);
  border-radius: 10px;
  font-family: poppins;
  z-index: 1;
  margin: 20px;
  margin-left: 3%;
}


  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: var(--grey-color);
    color: #ffffff;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }


  .hidden{
    display: none;
  }

  .text-alert-red{

  }
  .border-alert-red{

  }
  .text-alert-green{

  }
  .border-alert-red{

  }
  #response-message-box{
    background-color: rgb(231, 238, 231);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
  }
  #alert-message{
   
    margin-bottom: auto;
  }
  @media only screen and (max-width: 1100px) {
    .login-box {
    width: 80%;
    }
    }
    
    @media only screen and (max-width: 900px) {
      .text-news-ueberschrift{
        margin-top: 120%;
      }

      .newletter-box-shadow {
        margin-bottom: -100%;
      }
    .login-box {
    width: 90%;
    height: 60%;
    }
    
    .login-box p:first-child {
    font-size: 1.2rem;
    }
    
    .login-box .user-box input {
    font-size: 14px;
    }
    
    .login-box form a {
    font-size: 14px;
    }
    }


    
    @media only screen and (max-width: 850px) {

      .text-news-ueberschrift{
        margin-top: 120%;
      }

      .newletter-box-shadow {
        margin-bottom: -120%;
      }

      .container-news {
        display: flex;
        flex-wrap: wrap;
      }
      
      .login-box {
        order: 2;
        width: 90%;
        margin: 30px auto;
      }
      
      .newsletter-box {
        order: 3;
        width: 90%;
        margin: 30px auto;
      }
      
      .newsletter-text {
        margin-bottom: 30px;
                text-align: center;

      }
      
  
    }
    
    @media only screen and (max-width: 450px) {

      .text-news-ueberschrift{
        margin-top: 120%;
      }

      .newletter-box-shadow {
        margin-bottom: -170%;
      }

      .container-news {
        display: flex;
        flex-wrap: wrap;
      }
      
      .login-box {
        order: 2;
        width: 90%;
        margin: 30px auto;
      }
      
      .newsletter-box {
        order: 3;
        width: 90%;
        margin: 30px auto;
      }
      
      .newsletter-text {
        margin-bottom: 30px;
                text-align: center;

      }
      
  
    }
    
    /* button newsletter */

    .login-box form button {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      font-weight: bold;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 3px
    }

    .login-box button:hover {
      background: #5f5f5f;
      color: #ffffff;
      border-radius: 5px;
    }

    .login-box button span {
      position: absolute;
      display: block;
    }

    .login-box button span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #fff);
      animation: btn-anim1 1.5s linear infinite;
    }

    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }

      50%,100% {
        left: 100%;
      }
    }

    .login-box button span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #fff);
      animation: btn-anim2 1.5s linear infinite;
      animation-delay: .375s
    }

    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }

      50%,100% {
        top: 100%;
      }
    }

    .login-box button span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #fff);
      animation: btn-anim3 1.5s linear infinite;
      animation-delay: .75s
    }

    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }

      50%,100% {
        right: 100%;
      }
    }

    .login-box button span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #fff);
      animation: btn-anim4 1.5s linear infinite;
      animation-delay: 1.125s
    }

    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }

      50%,100% {
        bottom: 100%;
      }
    }
#news-text-unten {
  color: white;
  margin-top: 5%;
}