@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.testimonial-container {
  background-color: var(--alternative-color);
  color: var(--text-color);
  border-radius: 15px;
  margin: 20px 10% 0;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100%;
  box-shadow: 10px 10px 10px var(--shadow-color);
  }
  
  


.fa-quote {
  color: var(--text-color);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-left {
  left: 40px;
}

.fa-quote-right {
  right: 40px;
}
.neues-div{
padding: 20px;
position: relative;
z-index: 1;
font-weight:  300;
font-size: 35px;
line-height: 55px;
margin-top: 2%;
text-align: center;
color: var(--text-color);
}


.testimonial {
  padding-top: 5%;
  text-align: justify;
  letter-spacing: 0.1px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
  margin-top: 10px;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: var(--text-color);
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}


@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media screen and (min-width: 1090px) and (max-width: 2000px){
.testimonial-container{
    margin-bottom : -40%;
}
}

@media screen and (min-width: 2000px) and (max-width: 3000px){
    .testimonial-container{
        margin-bottom : -30%;
    }
    }

@media screen and (min-width: 1200px) and (max-width: 2000px){
  .testimonial-container{
          margin-bottom: -40%;
      }
      }