
*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

/*--Blog-------------------*/

#blog{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:40px;
  border-bottom: 1px solid rgba(0,0,0,0,0.5);

}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.blog-box.flipped .back .read-more:hover{
  color: var(--alternative-color);
      }

.blog-heading span{
  color: var(--span-color);
  font-size: 25px;
  margin-top: 5%;

}

.blog-heading h3{
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 300; 
  text-align: center;  
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  margin-bottom: -40%;
}

.blog-box{
  width: 40%;
  background-color: var(--primary-color);
  border: none;
  margin: 20px;
  box-shadow: 0 15px 25px var(--shadow-color);
  position: relative; /* karte umdrehen */
}

  /* von hier bis -> und oben position relative */
  .blog-box .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    overflow-y: auto; /* hier wird die Rückseite scrollbar */
    padding: 20px; /* optional - um Inhalt von der Seite zu verschieben */
  }

  
  .blog-box.flipped .back {
    transform: rotateY(0deg);
  }

.blog-box .back p {
  padding: 30px;
  color: var(--text-color);
  text-align: center;
}

.blog-box .back ul {
  padding: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.blog-box.flipped .back {
  transform: rotateY(0deg);
}

.links-back {
  display: flex; /* Damit die Elemente innerhalb des Containers in einer Zeile angeordnet werden */
  justify-content: space-between; /* Um das Symbol ganz rechts und den Text ganz links anzuordnen */
  align-items: center; /* Damit die Elemente vertikal zentriert werden */
}

.read-more {  margin-bottom: 0;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.shop-icon {
  margin-bottom: 0;
  color: var(--text-color);
  width: 40px; /* Gewünschte Breite des Icons */
  height: auto; /* Höhe auf "auto" setzen, um das Seitenverhältnis beizubehalten */
  font-weight: 800;
  cursor: pointer;
}

.shop-icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 50%;
  width: auto;
  right: 100%;
  transform: translate(-100%, -50%);
  background-color: transparent;
  color: var(--text-color);
  font-size: 14px;
  opacity: 0;
  font-weight: 700;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.shop-icon-container:hover .tooltip {
  opacity: 1;
}




.hidden{
  display: none;
}

/* hier karte umdrehen */

.blog-img img{
  width: 100%;
  height: 365px;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding:30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: var(--span-color);
  font-size: 0.9rem;
}

.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-color);
}


.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}


.blog-text a:hover{
  color: var(--alternative-color);
  transition: all ease 0.3s;
}

@media(max-width:1300px) {
  .blog-box{
    margin: 20px 10px;
    width: 45%;
}
  .blog-container{
    margin-bottom: -40%;
  }
}

@media(max-width:1100px){
  .blog-box{
    margin: 20px 10px;
    width: 60%;
}
  .blog-container{
    margin-bottom: -120%;
  }
  .blog-img img{
    width: 100%;
    height: auto;
  }
}
@media(max-width:600px){
  .blog-box{
    margin: 20px 10px;
    width: 90%;
}
  .blog-container{
    margin-bottom: -220%;
  }
}
@media(max-width:550px){
  .blog-box{
    margin: 20px auto; /* Damit die Box horizontal zentriert wird */
    width: 90%; /* Setzt die Box auf 100% Breite */
  }
  
  .blog-container{
    margin-bottom: -190%;
  }

  #blog{
      margin-top: 14%;
      padding: 20px;
  }
}