

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper{
  margin-top: 80px;
}

.wrapper h1{
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: -35%;
}

.heading-about{
  color: var(--text-color);
}

.team .team_member{
  background: #fff;
  width: 40%;
  height: 400px;
  padding: 20px;
  line-height: 20px;
  color: var(--text-color);  
  position: relative;
  box-shadow: 3px 4px 2px var(--shadow-color);
    margin-right: 5%;
    margin-left: 5%;

}

.team .team_member h3{
  color: var(--span-color);
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color:var(--span-color);
  margin: 12px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
}

.team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
  }
  
  .team .team_member .team_img img{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50%;

  }
  .team .team_member, .dark{
    background-color: var(--card-bg-color);
  }

  @media(max-width:1350px) {
    .wrapper {
      margin-bottom: -50%;
    }
    .team .team_member{
      padding-bottom: 400px;
    }
  }
  
  @media(max-width:1100px){
    .team {
      margin-bottom: -120%;
    }
    .team .team_member{
      padding-bottom: 400px;
      width: 40%;
    }
  }

  @media (max-width:900px){
    .wrapper {
      margin-bottom: -120%;
    }
    .team .team_member{
      margin-bottom: 140px;
      padding-bottom: 200px;
      width: 80%;

      
    }
  }

    
  @media(max-width:750px){
    .wrapper {
      margin-bottom: -130%;
    }
    .team .team_member{
      margin-bottom: 140px;
      padding-bottom: 365px;
    }

  
  }
  
  @media(max-width:600px){
    .wrapper {
      margin-bottom: -220%;
    }
    .team .team_member{
      margin-bottom: 140px;
      padding-bottom: 420px;
    }

  
  }

  @media(max-width:450px){
  
    .team .team_member{
      margin-bottom: 140px;
      padding-bottom: 450px;
    }
}
  
  @media(max-width:392px){
    .wrapper {
      margin-bottom: -250%;
    }
    .team .team_member{
      margin-bottom: 140px;
      padding-bottom: 500px;
    }
}

@media(max-width:352px){
  .team .team_member{
    margin-bottom: 140px;
    padding-bottom: 550px;
  }
}

@media(max-width:300px){
  .wrapper {
    margin-bottom: -250%;
  }
  .team .team_member{
    margin-bottom: 140px;
    padding-bottom: 550px;
  }
}