* {
  box-sizing: border-box;
}

/*
var(--alternative-color)
var(--primary-color)
var(--secondary-color)
 */


body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-image: radial-gradient(circle at top right, var(--alternative-color) 30%, var(--primary-color) 30%),
                    radial-gradient(circle at bottom left, var(--alternative-color)10%, var(--primary-color) 10%);
  background-size: 100% 70%;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}

:root{
  --primary-color: #ffffff;
  --alternative-color: #006118;
  --secondary-color: #212121;
  --grey-color: #868686;
  --linkhover-color: #00a529;
}

#icon {
  width: 30px;
  cursor: pointer;
  transition: transform 0.7s ease-out;
}

#icon:hover {
  transform: translateX(3px);
  filter: invert(1);
}



.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
    stroke: var(--secondary-color);
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: #006118;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
  



  