* {
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  .startlink{
    color: white;
  }

  
 

  .fa-bars {
    font-size: 30px;
    color: white;

 }

 label {
  cursor: pointer;;
 }
  
  

  .nav {
    height: 75px;
    width: auto;
    background-color: #000000;
    position: fixed;
    top: 0;
    margin-bottom: 30%;
  }

  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 24px 10px 24px 10px;
    text-decoration: unset;

  }
  
  .nav > .nav-btn {
    display: none;
  }
  

  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 24px 10px 24px 10px;
    text-decoration: none;
    color: #efefef;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease-in-out;
    position: relative; /* Hinzufügen einer relativen Position */
  }
  
  .nav > .nav-links > a:hover {
    background-color: transparent;
    font-weight: 900;
    border-bottom-color: #efefef;
    bottom: 2px; /* Hinzufügen von negativem Platzhalter, um die Linie unter dem Text zu positionieren */
  }
  
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1001900px) {

    header{
      margin-bottom: 10%;
      
    }

    .nav {
      height: 75px;
      width: 100%;
      background-color: #000000;
      position: fixed;
      top: 0;
      margin-bottom: 30%;
      overflow: visible;
      z-index: 10000;
    }

    .nav > .nav-header > .nav-title {
      text-decoration: none;
    }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 10px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: var(--secondary-color);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid var(--primary-color);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: var(--secondary-color);
      text-align: left;
      padding-left: 2%;
      height: 0px;
      transition: all 0.8s ease-in;
      overflow-y: hidden;
      top: 75px;
      left: 0px;
      z-index: 9999;
    }
    
     
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 20px 0;
      padding-left: 10px;
      border-bottom: 2px solid var(--secondary-color);
      box-sizing: border-box;
    }
    
    
        .nav > #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
          transform: translateY(-100%);
        }
        
        .nav > #nav-check:checked ~ .nav-links {
          height: auto;
          transform: translateY(0);
        }
        
  }