:root, .light{
  --primary-color: #ffffff;
  --alternative-color: rgb(186, 186, 186);
  --secondary-color: #212121;
  --text-color: black;
  --grey-color: #868686;
  --darkgrey-color: rgb(94, 94, 94);
  --contact-color: rgb(175, 175, 175);
  --card-bg-color: #bdbdbd;
  --linkhover-color: #001fe7;
  --line-break-color:  rgb(0, 49, 122);
  --shadow-color:rgba(0, 0, 0, 0.3);
  --span-color: darkgreen;
}

:root, .dark {
  --primary-color: #303332;
  --alternative-color: #0e100e;
  --secondary-color: #212121;
  --text-color: white;
  --grey-color: #868686;
  --darkgrey-color: #999;
  --contact-color: rgb(0, 0, 0);
  --card-bg-color: #242424;
  --linkhover-color: #00b7ff;
  --line-break-color:rgb(137, 131, 131);
  --shadow-color:rgba(255, 255, 255, 0.3);
  --span-color: rgb(0, 166, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-image: radial-gradient(circle at top right,var(--alternative-color) 28%, var(--primary-color) 28%),
                    radial-gradient(circle at bottom left,var(--alternative-color) 15%, var(--primary-color) 15%);
  background-size: 100% 60%;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


#icon {
  width: 30px;
  cursor: pointer;
  transition: transform 0.7s ease-out;
}

#icon:hover {
  transform: translateX(3px);
  filter: invert(1);
}
